{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/uikit-rtl.min.css' %}">
    <script src="{% static 'js/uikit-icons.min.js' %}"></script>
    <script src="{% static 'js/uikit.min.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <header class="uk-container uk-container-expand">
        <nav class="uk-navbar">
            <div class="uk-navbar-left">
                <a href="#" class="uk-navbar-item uk-logo">Docker</a>
            </div>
        </nav>
    </header>

    <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('{% if user.is_authenticated and user.profile_img %} {{ user.profile_img.url }} {% endif %}');">

        <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
            {% if user.is_authenticated %}
                {{ user.username }}
            {% endif %}
        </h1>

    </div>
    <section class="uk-container uk-container-expand">

    </section>

</body>
</html>